<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calculator">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Калькулятор</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todo">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>Список Дел</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
