<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Добавить задание</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-textarea [(ngModel)]="itemName" placeholder="Вставьте текст..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Приоритет</ion-label>
      <ion-select [(ngModel)]="itemPriority">
        <ion-select-option value="low">Низкий</ion-select-option>
        <ion-select-option value="middle">Средний</ion-select-option>
        <ion-select-option value="high" selected>Высокий</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Дата </ion-label>
      <ion-datetime [(ngModel)]="itemDueDate" displayFormat="DD/MM/YYYY H:mm" min="2000-01-01" max="2040-01-26">
      </ion-datetime>
    </ion-item>


    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label> Категория</ion-label>
      <span>{{categorySelectedCategory}}</span>
    </ion-item>

    <ion-item>
      <ion-chip *ngFor="let tag of categories; let i = index" color="secondary" outline="true"
        (click)="selectCategory(i)">
        <ion-label color="secondary">{{tag}}</ion-label>
      </ion-chip>
    </ion-item>

    <ion-button class="ion-margin" expand="block" (click)="add()">Добавить</ion-button>

  </ion-card>



</ion-content>
