ion-content {
  --background: #f0f4fd;

  p {
    font-weight: 300;
  }
}
.plus {
  right: 20px;
  bottom: 10%;
}
.buttons_go_todo1 {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
.buttons_go_todo2 {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
