<body>
  <img src="https://i.imgur.com/bPNmj6Q.png" class="bg_sun" alt="image">
  <div class="text">
    <h3 class="text1">Добро пожаловать в</h3>
    <h1 class="text2">SchoolApp</h1>
    <p class="text3">
      Приложение, которое сможет помочь тебе позаботиться о рабочем процессе и
      достижении целей
    </p>
    <p class="text4">Совершенно бесплатно.</p>
    <ion-button href="/reg" class="buttons" color="primary" shape="round">Создать аккаунт</ion-button>
    <ion-button href="/login" class="buttons" fill="outline" shape="round">Войти в аккаунт</ion-button>
  </div>
  <p class="version">Version 1.0.0</p>
</body>
